<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>STUDENT SQL</comment>
	
	<entry key="A">
		B
	</entry>
	
	<entry key="findAll">
		SELECT 
		       S.STUDENT_ID 
		     , S.STUDENT_NAME
		     , S.ENROLL_DATE
		     , M.MAJOR_NAME
		     , D.DORM_NAME
		 FROM
		       TB_STUDENTS S
		 JOIN 
		 	   TB_MAJOR M ON S.MAJOR_ID = M.MAJOR_ID
		 JOIN 
		 	   TB_DORMITORY D ON S.DORM_ID = D.DORM_ID
		 WHERE
		       S.DELETE_YN = 'N'
		 ORDER
		    BY
		       S.STUDENT_ID
	</entry>
	
	<entry key="findById">
		SELECT
		       S.STUDENT_ID
		     , S.STUDENT_NAME
		     , S.ENROLL_DATE
		     , M.MAJOR_NAME
		     , D.DORM_NAME
		  FROM
		       TB_STUDENTS S
		 JOIN 
		 	   TB_MAJOR M ON S.MAJOR_ID = M.MAJOR_ID
		 JOIN 
		       TB_DORMITORY D ON S.DORM_ID = D.DORM_ID
		 WHERE
		       S.DELETE_YN = 'N'
		   AND
		       S.STUDENT_ID = ?
	</entry>
	
	<entry key="findByName">
		SELECT       
      		S.STUDENT_ID 
		     , S.STUDENT_NAME     
		     , S.ENROLL_DATE
		     , M.MAJOR_NAME
		     , D.DORM_NAME
		  FROM
		       TB_STUDENTS S
		  JOIN 
		 	   TB_MAJOR M ON S.MAJOR_ID = M.MAJOR_ID
		  JOIN 
		       TB_DORMITORY D ON S.DORM_ID = D.DORM_ID
		 WHERE
		        S.DELETE_YN = 'N' AND S.STUDENT_NAME = ?
	</entry>
	
	<entry key="findByMajor">
		SELECT
		       S.STUDENT_ID
		     , S.STUDENT_NAME    
		     , S.ENROLL_DATE
		     , M.MAJOR_NAME
		     , M.DEPARTMENT_NAME
		     , M.CREDIT_HOURS
		  FROM
		       TB_STUDENTS S
		  JOIN 
		 	     TB_MAJOR M ON S.MAJOR_ID = M.MAJOR_ID
		 WHERE
		       S.DELETE_YN = 'N'
		   AND
		       M.MAJOR_NAME = ? 
	</entry>
	
	<entry key="findByDormitory">
		 SELECT
		        S.STUDENT_ID
		      , S.STUDENT_NAME
		      , S.ENROLL_DATE
		      , D.DORM_NAME
		      , D.DORM_LOCATION
		      , D.DORM_LEADER
		   FROM
		        TB_STUDENTS S
		   JOIN 
		        TB_DORMITORY D 
		     ON 
		        S.DORM_ID = D.DORM_ID
		  WHERE
		        S.DELETE_YN = 'N'
		    AND
		         D.DORM_NAME = ?
	</entry>
	
	<entry key="updateStudent">
		UPDATE 
		       TB_STUDENTS
		   SET 
		       MAJOR_ID = (
				    SELECT 
				           MAJOR_ID
				      FROM 
				           TB_MAJOR
			         WHERE 
				           MAJOR_NAME = ?
				)
		 WHERE 
		        STUDENT_ID = ?
	</entry>
	
	<entry key="updateDormitory">
		UPDATE 
		       TB_STUDENTS
		   SET 
		       DORM_ID = (
				    SELECT 
				           DORM_ID
				      FROM 
				           TB_DORMITORY
				     WHERE 
				           DORM_NAME = ?
				)
		 WHERE STUDENT_ID = ?
	</entry>
	
	<entry key="save">
	INSERT 
	  INTO 
	       TB_STUDENTS
	       (
	       STUDENT_ID
	     , STUDENT_NAME
	     , BIRTH_DATE
	     , GENDER
	     , ENROLL_DATE
	     , DELETE_YN
	     , MAJOR_ID
	     , DORM_ID
	       ) 
	VALUES 
	       (
	       SEQ_STUDENTNO.NEXTVAL
	     , ?
	     , TO_DATE(?, 'YYYY-MM-DD')
	     , ?
	     , TO_DATE(?, 'YYYY-MM-DD')
	     , 'N'
		 , (SELECT MAJOR_ID  FROM TB_MAJOR     WHERE MAJOR_ID  = ?)
	     , (SELECT DORM_ID   FROM TB_DORMITORY WHERE DORM_ID   = ?)
	      )
	</entry>
	
	<entry key="delete">
		UPDATE 
		       TB_STUDENT
		   SET 
		       DELETE_YN = 'Y'
		 WHERE 
		       STUDENT_ID = ? AND STUDENT_NAME = ?
	</entry>

</properties>
